.hidden {
    display: none!important;
    visibility: hidden!important;
}

.header-button{
    padding:10px 15px
}

.header-select{
    background-color:#ddd; 
}

.inner-input-icon-small{
    padding:10px 5px
}

.data-table  {

    border: 1px solid #f56c6c;
}

.data-table th {
    background: #f56c6c;
    color: #fff;
    border: 1px solid #f56c6c;
}

.data-table-pagination {
/*     background:#222d32; */
    padding:10px 10px;
}

.data-table-pagination .el-pagination__total{
   /*  color:#fff */
}
