<template>
  <div class="dashboard" ref="dashboard">
    <el-row style="text-align:center;height:300px" :gutter="80">
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fileList: []
    };
  },
  mounted() {},
  methods: {}
};
</script>




