<template>
  <div class="wrapper fixed">
    <imp-header></imp-header>
    <side-menu></side-menu>
    <div class="content-wrapper" :class="{ slideCollapse: sidebar.collapsed,mobileSide:device.isMobile}">
      <el-scrollbar tag="div" class="content-scrollbar" :load="setCurrentMenu">
        <section class="content">
          <el-breadcrumb class="breadcrumb" separator=">">
            <el-breadcrumb-item v-if="null!=currentMenu">
              <i :class="'breadcrumb-iconfont icon iconfont '+currentMenu.iconName"></i>{{currentMenu.text}}</el-breadcrumb-item>
          </el-breadcrumb>
          <transition mode="out-in" enter-active-class="fadeIn" leave-active-class="fadeOut" appear>
            <router-view class="router-view"></router-view>
          </transition>
        </section>
      </el-scrollbar>

    </div>

  </div>
</template>

<script>
const Vue = () => import(/* webpackChunkName: "group-vue" */ "vue");
const SideMenu = () =>
  import(/* webpackChunkName: "group-pub" */ "./components/SideMenu.vue");
const ImpHeader = () =>
  import(/* webpackChunkName: "group-pub" */ "./components/layout/Header.vue");

import { mapGetters, mapActions, mapMutations } from "vuex";
import types from "./store/mutation-types";
import store from "./store";
import { getCurrentMenu } from "./common/utils";
import { getRoleRoute } from "./services/role";
import { NO_PERM } from "./services/api";

export default {
  name: "app",
  components: {
    SideMenu,
    ImpHeader
  },
  computed: {
    ...mapGetters({
      sidebar: "sidebar",
      device: "device",
      currentMenu: "currentMenu",
      currentRole: "currentRole",
      menuList: "menuList"
    }),

    setCurrentMenu() {
      const menu = getCurrentMenu(this.$route.path, this.menuList);
      if (null != menu) {
        this.changeCurrentMenu(menu);
      } else {
        this.changeCurrentMenu(this.menuList[0]);
      }
    }
  },
  data: function() {
    return {
      active: true,
      headerFixed: true,
      breadcrumb: []
    };
  },
  methods: {
    ...mapMutations({
      toggleDevice: types.TOGGLE_DEVICE,
      toggleSidebar: types.TOGGLE_SIDEBAR,
      toggleSidebarShow: types.TOGGLE_SIDEBAR_SHOW,
      changeCurrentMenu: types.LOAD_CURRENT_MENU,
      setCurrentRole: types.SET_CURRENT_ROLE
    }),
    toggleSize() {
      if (this.isMobile()) {
        this.toggleSidebarShow(false);
        this.toggleSidebar(false);
        this.toggleDevice(true);
      } else {
        this.toggleSidebarShow(true);
        this.toggleDevice(false);
      }
    },
    isMobile() {
      const { body } = document;
      const WIDTH = 784;
      let rect = body.getBoundingClientRect();
      let isMobile = rect.width < WIDTH;
      return isMobile;
    }
  },
  watch: {
    $route: function(to, from) {
      if (this.isMobile()) {
        this.toggleSidebarShow(false);
        this.toggleSidebar(false);
      }
    }
  },
  beforeMount() {
    this.toggleSize();

    const handler = () => {
      if (!document.hidden) {
        this.toggleSize();
      }
    };
    document.addEventListener("visibilitychange", handler);
    window.addEventListener("DOMContentLoaded", handler);
    window.addEventListener("resize", handler);

    let vm = this;
    getRoleRoute(this).then(r => {
      if (r.code == 0) {
        vm.setCurrentRole(r.result);
      }
    });
    /*     if (!this.currentRole.query) {
     
    } */
  },
  mounted() {},
  created() {},
  beforeUpdate() {}
};
</script>

<style>
.animated {
  animation-duration: 0.2s;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in-out,
    margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
  padding-top: 50px;
}

.content-scrollbar {
  height: calc(100vh - 50px);
}

.content-wrapper .el-scrollbar__bar.is-vertical {
  display: none;
}

.content-wrapper .content {
  padding: 1.25rem;
}

.content-wrapper.slideCollapse {
  margin-left: 44px;
}

.content-wrapper.mobileSide {
  margin-left: 0px;
}

.breadcrumb {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #367fa9;
}

.breadcrumb-iconfont {
  margin: 10px;
  font-size: 35px !important;
  color: #367fa9;
}

.router-view {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background: #fff;
  padding: 5px;
}
</style>
