<template>
    <el-button v-if="currentRole.update" type="primary" size="small" @click="onSaveEdit()">
      {{title}}
    </el-button>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ButtonSaveEdit",
  computed: {
    ...mapGetters({
      currentRole: "currentRole"
    })
  },
  props: {
    titlePlace: {
      type: String,
      default: "bottom"
    },
    title: {
      type: String,
      default: "保存"
    },
    onSaveEdit: {
      type: Function,
      default() {}
    }
  }
};
</script>
