<template>
    <el-button type="warning" size="small" @click="onCancel()">
      {{title}}
    </el-button>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ButtonSaveAdd",
  computed: {
    ...mapGetters({
      currentRole: "currentRole"
    })
  },
  props: {
    title: {
      type: String,
      default: "取消"
    },
    onCancel: {
      type: Function,
      default() {}
    }
  }
};
</script>
