<template>
  <el-button v-if="currentRole.insert" type="primary" size="small" @click="onSaveAdd">
    {{title}}
  </el-button>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ButtonSaveAdd",
  computed: {
    ...mapGetters({
      currentRole: "currentRole"
    })
  },
  props: {
    titlePlace: {
      type: String,
      default: "bottom"
    },
    title: {
      type: String,
      default: "保存"
    },
    onSaveAdd: {
      type: Function,
      default() {}
    }
  }
};
</script>
