<template>
  <aside class="main-sidebar animated" :class="{ showSlide: sidebar.show, hideSlide: !sidebar.show}" v-if="!device.isMobile||(sidebar.show&&device.isMobile)">
    <el-menu :default-active="getActiveRouteKey" :default-openeds="getOpenIds" class="el-menu-style  animated" background-color="#464242" text-color="#95989d" active-text-color="#367fa9" :collapse="!(!sidebar.collapsed||device.isMobile)" style="border-right-width: 0px;">
      <template v-for="menu in menuList">
        <sub-menu :param="menu"></sub-menu>
      </template>
    </el-menu>
  </aside>
</template>
<script>
import subMenu from "./subMenu.vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
import types from "../store/mutation-types";

export default {
  props: {
    show: Boolean
  },
  data() {
    return {};
  },
  components: {
    subMenu
  },
  computed: {
    ...mapGetters({
      sidebar: "sidebar",
      device: "device",
      currentMenu: "currentMenu"
    }),
    getActiveRouteKey() {
      if (null != this.currentMenu) {
        return this.currentMenu.nav_id + "";
      } else {
        return "";
      }
    },
    getOpenIds() {
      const getParentArray = (path, menuList) => {
        let urls = [];
        if (!!menuList) {
          for (let i = 0; i < menuList.length; i++) {
            const menu = menuList[i];
            const child_navs = menu.child_navs;
            if (!!child_navs && child_navs.length > 0) {
              let subUrls = getParentArray(path, child_navs);
              if (!!subUrls && subUrls.length > 0) {
                urls.push(menu.nav_id + "");
              }
            } else {
              if (menu.nav_url == path) {
                urls.push(menu.nav_id + "");
                break;
              }
            }
          }
        }
        return urls.reverse();
      };
      const urls = getParentArray(this.$route.path, this.menuList);

      return urls;
    },
    // 使用对象展开运算符将 getters 混入 computed 对象中          :class="{ showSlide: sidebar.show, hideSlide: !sidebar.show, expandSide:(!sidebar.collapsed||device.isMobile)}"
    ...mapGetters(["menuList"])
  },
  mounted() {
    let route = this.$route;
    //      if (route.name) {
    //        this.shouldExpandMatchItem(route)
    //      }
  },
  created: function() {
    this.load(this);
  },
  methods: {
    handleSelect(index, path) {
      console.log(path);
    },
    ...mapMutations({
      toggleSidebarShow: types.TOGGLE_SIDEBAR_SHOW,
      changeCurrentMenu: types.LOAD_CURRENT_MENU
    }),
    ...mapActions({
      load: "loadMenuList" // 映射 this.load() 为 this.$store.dispatch('loadMenuList')
    })
  }
};
</script>
<style>
.showSlide {
  animation-duration: 0.2s;
  animation-name: slideInLeft;
}

.hideSlide {
  animation-duration: 0.2s;
  animation-name: slideOutLeft;
}

.main-sidebar {
  background-color: #464242;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  height: calc(100vh - 50px);
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.el-menu-style:not(.el-menu--collapse) {
  width: 230px;
}

/* .expandSide {
  width: 230px;
}
 */
.el-menu-item,
.el-submenu__title {
  padding-left: 10px !important;
}

.el-menu-style .el-menu-item,
.el-menu-style .el-submenu__title {
  height: 45px;
  line-height: 45px;
}

.main-sidebar .el-menu--collapse {
  width: 50px;
}

.main-sidebar .el-menu--collapse > .el-menu-item,
.main-sidebar .el-menu--collapse > .el-submenu > .el-submenu__title {
  padding-left: 13px !important;
}

.vue-scrollbar {
  background-color: #464242 !important;
  height: calc(100vh - 50px);
}

.main-sidebar .el-scrollbar__bar.is-vertical {
  display: none;
}

.sidebar {
  min-height: 450px;
}
</style>
