<template>
  <el-submenu :index="item.nav_id+''" v-if="item.child_navs && item.child_navs.length>0"  >
    <template slot="title"><i :class="'icon iconfont  '+item.icon_name"></i><span>{{item.nav_name}}</span></template>
    <template v-for="child in item.child_navs">
      <sub-menu v-if="child.child_navs && child.child_navs.length>0" :param="child"></sub-menu>
      <el-menu-item v-else :index="child.nav_id+''" style="padding-left:40px !important" :class="child.class_name" @click="goRouter(child.nav_url)"><i :class="'icon iconfont  '+child.icon_name"></i><span>{{child.nav_name}}</span></el-menu-item>
    </template>
  </el-submenu>
  <el-menu-item v-else :index="item.nav_id+''" :class="item.class_name" @click="goRouter(item.nav_url)"><i :class="'icon iconfont  '+item.icon_name"></i><span>{{item.nav_name}}</span></el-menu-item>
</template>
<script>
import subMenu from "./subMenu.vue";

export default {
  name: "subMenu",
  props: ["param"],
  data: function() {
    return {
      item: this.param
    };
  },
  components: {
    subMenu
  },
  methods: {
    goRouter(url) {
      this.$router.push({
        path: url
      });
    }
  }
};
</script>
<style>
.el-menu .icon {
  margin-right: 10px;
  font-size: 22px;
}
</style>
